# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
wheels/
*.egg

# Unit test / coverage reports
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/

# Environments
.env
.env.*
!.env.example
.venv/
venv/
env/

# OS Files
.DS_Store

# IDE Files
.idea/
.vscode/
*.swp

# Terraform specific files
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
# Ignore override files as they are usually environment-specific
override.tf
override.tf.json
*_override.tf
*_override.tf.json

certs/
